# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vs
server/client/x64/
server/server/x64/
server/x64/


*.log
*.tlog
*.obj
*.recipe
Client/250331(3) - Texture/DX12FrameWork/x64/
Client/250331(3) - Texture/Engine/x64/
Client/250331(3) - Texture/Output/
Client/250331(2) - IndexBuffer/DX12FrameWork/x64/
Client/250331(2) - IndexBuffer/Engine/x64/
Client/250331(2) - IndexBuffer/Output/
Client/250330 - Triangle/DX12FrameWork/x64/
Client/250330 - Triangle/Engine/x64/
Client/250330(2) - ConstantBuffer/DX12FrameWork/x64/
Client/250330(2) - ConstantBuffer/Engine/x64/
Client/250331 - RootSignature/DX12FrameWork/x64/
Client/250331 - RootSignature/Engine/x64/
Client/250330 - Triangle/Output/
Client/250330(2) - ConstantBuffer/Output/
Client/250331 - RootSignature/Output/
Client/250401 - Depth Stencil View/DX12FrameWork/x64/
Client/250401 - Depth Stencil View/Engine/x64/
Client/250401 - Depth Stencil View/Output/
