# Visual Studio user-specific files.
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.pdb
*.iobj
*.ipdb
*.obj
*.ilk
*.tlog
*.log


.vs
server/client/x64/
server/server/x64/
server/x64/


*.log
*.tlog
*.obj
*.recipe
Client/250331(3) - Texture/DX12FrameWork/x64/
Client/250331(3) - Texture/Engine/x64/
Client/250331(3) - Texture/Output/
Client/250331(2) - IndexBuffer/DX12FrameWork/x64/
Client/250331(2) - IndexBuffer/Engine/x64/
Client/250331(2) - IndexBuffer/Output/
Client/250330 - Triangle/DX12FrameWork/x64/
Client/250330 - Triangle/Engine/x64/
Client/250330(2) - ConstantBuffer/DX12FrameWork/x64/
Client/250330(2) - ConstantBuffer/Engine/x64/
Client/250331 - RootSignature/DX12FrameWork/x64/
Client/250331 - RootSignature/Engine/x64/
Client/250330 - Triangle/Output/
Client/250330(2) - ConstantBuffer/Output/
Client/250331 - RootSignature/Output/
Client/250401 - Depth Stencil View/DX12FrameWork/x64/
Client/250401 - Depth Stencil View/Engine/x64/
Client/250401 - Depth Stencil View/Output/
Client/250401(2) - Input & Timer/DX12FrameWork/x64/
Client/250401(2) - Input & Timer/Engine/x64/
Client/250401(2) - Input & Timer/Output/
Client/Exporter 구현/3DGP1-Project1/x64/
Client/Exporter 구현/x64/
Client/Exporter 구현/Exporter/x64/
Client/Exporter 구현/Assets/Ch14_nonPBR.fbm/
Client/Exporter 구현/Assets/Girl.fbm/
Client/Exporter 구현/Assets/StrutWalking.fbm/
Client/Exporter 구현/Assets/Taunt.fbm/
Client/Exporter 구현/AssetsBin/
Client/Exporter 구현/Assets/Ch14.fbm/
PEW & PEW/Output/
Client/Exporter 구현/Library/Lib/
Client/250401 - Depth Stencil View/Library/Lib/
Client/250401(2) - Input & Timer/Library/Lib/
Client/250331(3) - Texture/Library/Lib/
