# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Client/StartOfDX12FrameWork/.vs/
Client/StartOfDX12FrameWork/DX12FrameWork/x64/
Client/StartOfDX12FrameWork/Engine/x64/
Client/StartOfDX12FrameWork/x64/
Client/StartOfDX12FrameWork/Output/
Client/250322 - Setting Finished/.vs/
Client/250322 - Setting Finished/DX12FrameWork/x64/
Client/250322 - Setting Finished/Engine/x64/
Client/250322 - Setting Finished/x64/
Client/250322 - Setting Finished/Output/
Client/250330 - Triangle/Engine/x64/
Client/250330 - Triangle/x64/
Client/250330 - Triangle/Output/
Client/250330 - Triangle/DX12FrameWork/x64/
Client/250330 - Triangle/.vs/
Client/250330(2) - ConstantBuffer/DX12FrameWork/x64/
Client/250330(2) - ConstantBuffer/Engine/x64/
Client/250330(2) - ConstantBuffer/Output/
Client/250330(2) - ConstantBuffer/.vs/
